<script>
  var ws = new WebSocket('ws://cryptic-sea-98015.herokuapp.com:1234', 'echo-protocol');
  ws.addEventListener("message", function(e) {
    // The data is simply the message that we're sending back
    var msg = e.data;

    // Append the message
    document.getElementById('chatlog').innerHTML += '<br>' + msg;
});
</script>
<div id="chatlog">

</div>
